<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="firstName='John';price=58">
  <p>{{firstName | uppercase}}</p>
  <p>{{firstName | lowercase}}</p>
  <p>Looping with objects:</p>
  <h6>Price:{{price | currency}}</h6>
  <ul>
    <li ng-repeat="x in names | orderBy: 'country'">
      {{ x.name + ", " + x.country}}
    </li>
  </ul>
  <ul>
    <li ng-repeat="x in names | filter: 'i'">
      {{ x.name + ", " + x.country}}
    </li>
  </ul>
  <p>Filter an Array Based on User Input:</p>
  <p><input type="text" ng-model="test"></p>
  <ul>
    <li ng-repeat="x in names | filter: test">
      {{ x.name + ", " + x.country}}
    </li>
  </ul>
  <p>Order by Table Column:</p>
  <table border="1" width="100%">
    <tr>
      <th ng-click="orderByMe('name')">Name</th>
      <th ng-click="orderByMe('country')">Country</th>
    </tr>
    <tr ng-repeat="x in names | orderBy: myOrderBy">
      <td>{{x.name}}</td>
      <td>{{x.country}}</td>
    </tr>
  </table>

  <ul>
    <li ng-repeat="x in users">
      {{ x | myFormat}}
    </li>
  </ul>

</div>

<script>
  var app = angular.module('myApp', []);
  app.filter('myFormat', function(){
    return function(x) {
      var i,c,txt = "";
      for(i = 0; i < x.length; i++) {
        c = x[i];
        if(i % 2 == 0) {
          c = c.toUpperCase();
        }
        txt += c;
      }
      return txt;
    };
  });
  
  app.controller('myCtrl', function($scope) {
    $scope.names =[
      {name:'Jani', country:'Norway'},
      {name:'Carl', country:'Sweden'},
      {name:'Margareth', country:'England'},
      {name:'Hege', country:'Norway'},
      {name:'Joe', country:'Denmark'},
      {name:'Gustav', country:'Sweden'},
      {name:'Birgit', country:'Denmark'},
      {name:'Mary', country:'England'},
      {name:'Kai', country:'Norway'}
    ];

    $scope.users =['Jani', 'Carl', 'Margareth', 'Hege','Joe', 'Gustav', 'Birgit', 'Mary', 'Kai'];

    $scope.orderByMe = function(x){
      $scope.myOrderBy = x;
    }
  });
</script>
</body>
</html>
