<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
  <select ng-model="selectedName" ng-options="x for x in names"></select>
  <br>
  <select><option ng-repeat="x in names">{{x}}</option></select>
  <br>
  <select ng-model="selectedCar">
    <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
  </select>
  <h5>You selected: {{selectedCar}}</h5>
  <br>
  <select ng-model="selectedCar2" ng-options="x.model for x in cars"></select>
  <h5>You selected: {{selectedCar2.model}}</h5>
  <h5>its color is: {{selectedCar2.color}}</h5>
  <br>
  <select ng-model="selectedBrand" ng-options="x for (x,y) in brands"></select>
  <h5>You selected: {{selectedBrand}}</h5>
  <br>
  <select ng-model="selectedBrand2" ng-options="y.brand for (x,y) in brands2"></select>
  <h5>You selected: {{selectedBrand2}}</h5>
</div>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    $scope.names = ['Emil','Tobias','Linus'];

    $scope.cars = [
      {model : "Ford Mustang", color : "red"},
      {model : "Fiat 500", color : "white"},
      {model : "Volvo XC90", color : "black"}
    ];

    $scope.brands = {
        car01 : "Ford",
        car02 : "Fiat",
        car03 : "Volvo"
    };

    $scope.brands2 = {
        car01 : {brand: "Ford", model: "Mustang", color : "red"},
        car02 : {brand: "Fiat", model: "500", color : "white"},
        car03 : {brand: "Volvo", model: "XC90", color : "black"}
    };
});
</script>
</body>
</html>
