<!DOCTYPE html>
<html>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">
  <h1 ng-mousemove="count = count+1">Mouse over me!</h1>
  <h2>{{count}}</h2>
  <button ng-click="countClick = countClick + 1">Click me!</button>
  <h2>{{countClick}}</h2>
  <button ng-click="clickFunction()">Click Function!</button>
  <h2>{{countFunction}}</h2>
  <button ng-click="showMeFunction()">show me!</button>
  <div ng-show="showMe">
    <h1>Menu:</h1>
    <div>Pizza</div>
    <div>Pasta</div>
    <div>Pesce</div>
  </div>
  <h1 ng-mousemove="myFunc($event)">Mouse over me!</h1>
  <p>Coordinates: {{x +','+y}}</p>
</div>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.count = 0;
    $scope.countClick = 0;
    $scope.countFunction = 0;
    $scope.clickFunction = function(){
      $scope.countFunction ++;
    }
    $scope.showMe = false;
    $scope.showMeFunction = function() {
      $scope.showMe = !$scope.showMe;
    }
    $scope.myFunc = function(myE) {
      $scope.x = myE.clientX;
      $scope.y= myE.clientY;
    }
  });
</script>
</body>
</html>
